# Compiled Python files
__pycache__/
*.pyc

# Logs and databases
*.log
*.sqlite3

# Local development settings
.env
*.env

# IDE and editor-specific files
.idea/
.vscode/

# Virtual environments
venv/
env/
__venv__/
ENV/

# ... (Add other rules here)

